*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}

.nav-wrapper{
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
  padding: 1rem;
  background-color: black;
  align-items: center;
  
}
.brand-logo{
  margin-right: 1rem;
}
.list{
  display: flex;
  gap: 2rem;
  list-style-type: none;
}
.list>li :hover{
  color: orange;
}

.footer{
  text-align: center;
  background-color: black;
  height: 2.5rem; 
  padding-top: 1rem;
  margin-top: 19rem;
}




.listCard{
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

@media (max-width:500px){
  .list{
    gap: 0.5rem;
  }
  .brand-logo{
    margin-right: 1rem;
  }
  .nav-wrapper{
    padding: 0.5rem;
 
  }
}